<!DOCTYPE html>
<html lang="en">

<head>
	<title>Edit Data Siswa</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<body>
	<div class="container">
        <br>
        <br>
        <br>
        <br>
<div class="alert alert-info" role="alert">
        <%= data %>
      </div>